<!-- Brix Admin Vendors -->
{% javascripts
  '@BrixAdminBundle/Resources/public/bower_components/jquery/dist/jquery.js'
  '@BrixAdminBundle/Resources/public/bower_components/medium-editor/dist/js/medium-editor.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-file-upload/dist/angular-file-upload-html5-shim.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular/angular.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-resource/angular-resource.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-sanitize/angular-sanitize.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-slugify/angular-slugify.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-bootstrap/ui-bootstrap.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-file-upload/dist/angular-file-upload.js'
  '@BrixAdminBundle/Resources/public/bower_components/ng-context-menu/dist/ng-context-menu.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-bootstrap/ui-bootstrap-tpls.js'
  '@BrixAdminBundle/Resources/public/bower_components/angular-contenteditable/angular-contenteditable.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
  window.brix = {};
  window.brix.routing = {};
  window.brix.routing.media_upload = '{{path('brix_admin_media_upload')}}';
  window.brix.routing.media_get = '{{path('brix_admin_media_get',{page:':page'})}}';
  window.brix.routing.languages = '{{path('brix_admin_languages_get')}}';
  window.brix.routing.page = '{{path('brix_admin_page_get',{id:':id'})}}';
  window.brix.routing.page_translations = '{{path('brix_admin_page_translations',{id:':id'})}}';
  window.brix.routing.page_tree = '{{path('brix_admin_page_get_tree')}}';
  window.brix.routing.page_types = '{{path('brix_admin_page_get_types')}}';
  window.brix.routing.block = '{{path('brix_admin_block_get',{id:':id'})}}';
  window.brix.routing.block_types = '{{path('brix_admin_block_get_types',{id:':id'})}}';
  window.brix.routing.block_add_widget = '{{path('brix_admin_block_add_widget',{id:':id'})}}';
  window.brix.routing.block_remove_widget = '{{path('brix_admin_block_remove_widget',{id:':id'})}}'
  window.brix.routing.entity = '{{path('brix_admin_widget_get_entity',{id:':id'})}}';
  window.brix.routing.template = '{{path('brix_admin_widget_template_get')}}';

  </script>
  <!-- Brix Admin Scripts -->
  {% javascripts
    '@BrixAdminBundle/Resources/public/scripts/*'
    '@BrixAdminBundle/Resources/public/scripts/filters/*'
    '@BrixAdminBundle/Resources/public/scripts/services/*'
    '@BrixAdminBundle/Resources/public/scripts/directives/*'
    '@BrixAdminBundle/Resources/public/scripts/controllers/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include 'BrixAdminBundle:Default:adminBar.html.twig' %}

    {# <div id="brixAdminSidebar" ng-class="{true:'active'}[showElementOptions]">
      <div class="col-xs-6"><button class="btn btn-warning">delete</button></div><div class="col-xs-6"><button class="btn btn-success" ng-click="saveOptions()">save</button></div>

      <div class="col-xs-6">
        <label>Position</label><input type="text" ng-model="element.order">
      </div>
    </div> #}


    <script type="text/ng-template" id="pageSettingsModal.html">
    {% include 'BrixAdminBundle:Page:pageSettingsModal.html.twig' %}
    </script>

    <script type="text/ng-template" id="mediaGalleryModal.html">
    {% include 'BrixAdminBundle:Media:mediaGalleryModal.html.twig' %}
    </script>

    <script type="text/ng-template"  id="page_tree.html">
    {% include 'BrixAdminBundle:Page:tree.html.twig' %}
    </script>
    <script type="text/ng-template" id="contentModal.html">
    <div class="modal-header">
      <h3 class="modal-title"><span ng-switch="new">Content</h3>
      </div>
      <ng:switch on="mode">
      <div class="modal-body" ng-switch-when="types">

      </div>
      <div class="modal-body" ng-switch-when="list">

      </div>
      <div class="modal-body" ng-switch-when="edit">

      </div>
    </ng>
    </script>

    <script type="text/ng-template" id="block.html">
    {% include 'BrixAdminBundle:Default:block.html.twig' %}
    </script>
